*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
	text-align: center;
	width: 70%;
	margin: 10px auto;
	font-family: Sans-Serif;
	border-bottom: 2px solid black;
}
p{
	font-family: monospace;
}
body{
	background-color: rgb(255, 209, 250);
}
section{
	border-bottom: 3px solid grey;
}
.info{
	font-size: 1.5rem;
	width: 60%;
	text-align: justify;
	margin: auto;
	line-height: 3ch;
}
#main, #panel_izquierdo, #panel_derecho{
	border-left: 2px solid black;
	border-right: 2px solid black;
	min-height: 100vh;
}

#panel_izquierdo, #panel_derecho{
	width: 20%;
	position: fixed;
	top: 0;
	overflow: scroll;
}

#panel_izquierdo{
	left: 0;
}
#panel_derecho{
	right: 0;
}
#main{
	width: 60%;
	margin: auto;
}
#presentacion_java{
	width: 80%;
	margin: auto;
	aspect-ratio: 3/2;
	position: relative;
}
#img_pres{
	width: 100%;
	display: block;
	position: static
}
#img_press:hover{
	position: relative;
}
#tapar{
	width: 75.5%;
	height: 64%;
	top: 8%;
	left: 12.2%;
	background-color: black;
	position: absolute;
	opacity: 1;
	transition: opacity 0.5s ease;
}
