*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	text-align: center;
	margin: 10px 0;
	font-size: 2.5rem;
}
.info{
	font-size: 1.5rem;
	width: 35%;
	text-align: justify;
	margin: auto;
}
body{
	background-color: rgb(255, 209, 250);
}


